<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.calpa.dairy</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>6C91A091-8D22-4F74-8BB1-BD2972C0B937</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB707E04-0DDF-482C-A4B9-5C6FF0E36F84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0D18AAC-642D-41F1-8D0E-F8783C0E08EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB707E04-0DDF-482C-A4B9-5C6FF0E36F84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0D18AAC-642D-41F1-8D0E-F8783C0E08EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Calpa Liu</string>
	<key>description</key>
	<string>Add dairy to evernote</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dairy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/diary.scpt")) with parameters {"{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB707E04-0DDF-482C-A4B9-5C6FF0E36F84</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>log</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>隨筆記錄</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6C91A091-8D22-4F74-8BB1-BD2972C0B937</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>你輸入的"{query}"已經添加到 Evernote !</string>
				<key>title</key>
				<string>成功記錄</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A0D18AAC-642D-41F1-8D0E-F8783C0E08EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6C91A091-8D22-4F74-8BB1-BD2972C0B937</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A0D18AAC-642D-41F1-8D0E-F8783C0E08EC</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>DB707E04-0DDF-482C-A4B9-5C6FF0E36F84</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://calpa.me</string>
</dict>
</plist>
